
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar styling */
#navbar {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  display: flex;
  font-size: 1.5rem;
  height: auto;
  justify-content: space-between;
  left: 0;
  padding: 25px 40px 25px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

#navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  padding: 0 10px;
  /* Adjust this value to increase or decrease spacing between items */
}


#navbar ul a {
  color: #2d2e32;
  font-weight: 600;
  font-size: large;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  transition: all .23s;
  transition-duration: 0.23s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}


#navbar .logo {
  /* Styles for the logo, adjust as necessary */
  color: #2d2e32;
  cursor: pointer;

}

#navbar .mobile-menu {
  display: none;
  /* Hides menu icon by default, can be shown for mobile view with media queries */
}

/* Welcome section styling */
#welcome-section {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}

.content {
  align-items: center;
  display: flex;
  gap: 10rem;
  height: 65rem;
  justify-content: center;
  position: relative;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome-section .text-side {
  margin-right: 20px;
  /* adjust as needed */
}

.text-side .profile-link {
  color: black;
}

.text-side .profile-link:hover {
  color: blue;
}


.text-side h1 {
  color: #2d2e32;
  font-size: 3.8rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.text-side h4 {
  font-size: 20px;
  color: grey;
}


.img-side {
  margin-left: 20px;
  /* adjust as needed */
}

.circle {
  animation: morph 8s ease-in-out infinite, borderBreathing 2s ease-in-out infinite;
  background-image: url(./IMG_1889.jpeg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 23rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 15rem;
}

.circle:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

@keyframes borderBreathing {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 40% 60% 70% 30%/40% 70% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.skills {
  align-items: center;
  bottom: 0;
  color: #767676;
  display: flex;
  font-size: 1.7rem;
  left: 0;
  position: absolute;
}

.skills p {
  align-items: center;
  bottom: 0;
  color: #767676;
  display: flex;
  font-size: 1.7rem;
  left: 0;
  position: absolute;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  list-style: none;
  justify-content: center;
  /* Add justify-content: center; to center the list items */
  padding: 0;
  /* Remove padding */
}

.skills ul li {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .09);
  cursor: pointer;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;
}

.skills ul li img {
  height: 2.5rem;
  width: 2.5rem;
}

/* About section styling */

.about {
  background-color: #fff;
  padding: 15rem 0;
}

.about .container {
  width: 80%;
  margin: 0 auto;
}

.about .about-content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.about .img-side {
  flex: 1;
}

.about .text-side {
  flex: 2;
  margin-left: 2rem;
}

.about .morillo {
  border-radius: 1.7rem;
  height: 35rem;
  width: 41rem;
}

.about h3,
.about h4,
.about p {
  margin: 0 0 1rem 0;
}

.about h3 {
  color: blue;
}



/* Footer section to be udpated */
.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}